<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <title>footer</title>
</head>
<body>
    <!--Footer Section Start-->
<section class="page-footer">
	
	<!--Footer Contents Start -->
	<div class="footer-contents">
		
		<div class="footer-col footer-col-1">
			<div class="footer-col-title">
				<h3>About</h3>
			</div>
			<div class="footer-col-desc">
				<p>Start your Fitness journey today.</p>
				<p>Need any help, we are here for you :)</p>
				<span>BMU, Haryana, India</span>
				<span>+91 8630029293</span>
				<span>stayfitorg@hotmail.com</span>
				<div class="footer-social-media">
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-twitter"></i></a>
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-instagram"></i></a>
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>

		<div class="footer-col footer-col-2">
			<div class="footer-col-title">
				<h3>Quick Links</h3>
			</div>
			<div class="footer-col-desc">
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Services</a>
				<a href="#">Trainers</a>
				<a href="#">Pricing</a>
				<a href="#">Blog</a>
			</div>
		</div>

		<div class="footer-col footer-col-3">
			<div class="footer-col-title">
				<h3>Newsletter</h3>
			</div>
			<div class="footer-col-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<form class="newsletter">
					<input type="email" placeholder="Your Email">
					<button class="btn newsletter-btn" type="submit">Subscribe</button>
				</form>
			</div>
		</div>

	</div>
	<!--Footer Contents End-->

</section>
<!-- Footer Section End-->
    
</body>
</html>