<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog Posts</title>
	<link rel="stylesheet" href="fullblogstyle.css">
	
</head>
<body>
	 <header class="header">
		<h1>Welcome to Our Blog</h1>
	</header> 
	
	<section id="blog-list" class="blog-list">
		<!-- Blogs will be dynamically inserted here -->
	</section>
	<div >
		<%- include('partials/footer') %>
	</div>
	<script src="blogscript.js"></script>
</body>
</html>
