<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="style.css">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>StayFit</title>
</head>
<body>

<div class="website-wrapper">
	
<!--  Home -->
<section class="home" id="home">
	
	<div class="home-overlay"></div>
	<!--Navbar-->

<nav class="main-navbar">
	<div class="logo">
		<img src="images/home/logo1.png">
	</div>
	<ul class="nav-list">
		<li><a href="#home">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#services">Services</a></li>
		<li><a href="#our_team">Trainers</a></li>
		<li><a href="#pricing">Prices</a></li>
		<li><a href="#blog">Blog</a></li>
	</ul>
	
	<div class="button-wrapper">
		<a href="/login" class="login-btn-wrapper">
			<button class="btn login-btn">Log In</button>
		</a>
		<a href="#pricing" class="join-us-btn-wrapper">
			<button class="btn join-us-btn">Join Us</button>
		</a>
		<span class="bulb-icon" onclick="changePrimaryColor()">
			<i class="fas fa-lightbulb"></i> <!-- Font Awesome bulb icon -->
		</span>
	</div>

	<div class="hamburger-btn">
		<span></span>
		<span></span>
		<span></span>
	</div>
</nav>
	<!--Navbar end-->
	<!--Banner Start-->
	<div class="banner">
		<div class="banner-contents">
			<h2>Start your training at StayFit</h2>
			<h1>Fit body needs more training</h1>
			<p>Staying fit is a gift to yourself. It increases your energy levels, strengthens your body, and sharpens your thinking. Every stride you take, every workout you finish, puts you closer to becoming healthier and happy. Commit today—you are worth the investment in your well-being!</p>
			<a href="#about"><button class="btn read-more-btn">Read More</button> </a> 
		</div>
	</div>
	<!--Banner End-->

</section>
<!--Home End-->

<!--Facilities Start-->
<section class="facilities">
	<div class="facilities-contents">
		
		<div class="facility-item">
			<div class="facility-icon">
				<i class="fa-solid fa-dumbbell"></i>
			</div>
			<div class="facility-desc">
				<h2>Quality Equipment</h2>
				<p>Our high-quality equipment ensures that you have the finest possible training experience. It is designed for performance and durability, and it will help you achieve your fitness goals in an effective and safe manner.</p>
			</div>
		</div>

		<div class="facility-item">
			<div class="facility-icon">
				<i class="fa-solid fa-wifi"></i>
			</div>
			<div class="facility-desc">
				<h2>Free Wifi</h2>
				<p>Enjoy free Wi-Fi while exercising! Stay connected, listen to your favorite music, and effortlessly track your progress. We're here to help you stay connected while you work on your fitness.</p>
			</div>
		</div>

		<div class="facility-item">
			<div class="facility-icon">
				<i class="fa-solid fa-person-swimming"></i>
			</div>
			<div class="facility-desc">
				<h2>Swimming Pool</h2>
				<p>Dive into fitness with our gym's swimming pool! Whether you're swimming laps or doing a low-impact workout, our pool provides a pleasant way to keep active and build endurance.</p>
			</div>
		</div>

	</div>
</section>
<!--Facilities End-->

<!--About Start-->
<section class="about" id="about">
	<div class="about-contents">
		
		<div class="about-left-col">
			<img src="images/about/box.jpg">
		</div>

		<div class="about-right-col">
			<h4>About Us</h4>
			<h1>Best Facilities and Experienced Trainers</h1>
			<p>We have first-rate facilities at our gym that are tailored to each step of your fitness journey. You'll find everything you need under one roof, including state-of-the-art equipment and a swimming pool for low-impact exercise. Our knowledgeable trainers are here to help you reach your goals in a safe and efficient manner by providing you with individualized training programs. Your achievement in fitness is within reach with the ideal combination of state-of-the-art facilities and professional assistance!</p>
			<div class="about-states">
				<div class="about-state about-state-1">
					<i class="fa-solid fa-person"></i>
					<h2>Best Trainers</h2>
				</div>
				<div class="about-state about-state-2">
					<i class="fa-solid fa-medal"></i>
					<h2>Award Winning</h2>
				</div>
			</div>
		</div>

	</div>
</section>
<!--About End-->

<!-- Services Start-->
<section class="services" id="services">
	
	<!-- Services Header Start-->
	<header class="section-header">
		<h3>Services</h3>
		<h1>Services Which We Offer</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</header>
	<!--Services Header End -->

	<!-- Services Contents Start-->
	<div class="services-contents">
		
		<div class="service-box">
			<div class="service-icon-box">
				<i class="fa-solid fa-dumbbell"></i>
			</div>
			<div class="service-desc">
				<h2>Body Building</h2>
				<p>Bodybuilding is a life-changing endeavor that increases confidence, strengthens, and defines muscles. Anyone can get amazing results and sculpt their physique with a commitment to training and nutrition.</p>
			</div>
		</div>

		<div class="service-box">
			<div class="service-icon-box">
				<i class="fa-solid fa-person-walking"></i>
			</div>
			<div class="service-desc">
				<h2>Calisthenics</h2>
				<p>Body weight is used in calisthenics to strengthen muscles and improve balance, flexibility, and endurance. It makes fitness attainable for everyone because it's portable, low-tech, and accessible.</p>
			</div>
		</div>

		<div class="service-box">
			<div class="service-icon-box">
				<i class="fa-solid fa-weight-hanging"></i>
			</div>
			<div class="service-desc">
				<h2>Boxing</h2>
				<p>Boxing is a high-intensity physical activity that enhances cardiovascular health and coordination by combining strength, technique, and strategy. It increases self-assurance, self-control, and toughness on a mental and physical level.</p>
			</div>
		</div>

		<div class="service-box">
			<div class="service-icon-box">
				<i class="fa-solid fa-dumbbell"></i>
			</div>
			<div class="service-desc">
				<h2>Crossfit</h2>
				<p>CrossFit is a high-intensity fitness program that incorporates strength training, cardio, and functional movements. In addition to encouraging camaraderie, it pushes individuals to reach new heights and set personal records.</p>
			</div>
		</div>

	</div>
	<!--Services Contents End-->

</section>
<!-- Services Section End-->

<!--Offer Start-->
<section class="offer">
	<div class="offer-overlay"></div>
	<div class="offer-contents">
		<h1>Start Your Training Today</h1>
		<span>&</span>
		<h3>Get 30% Discount</h3>
		<a href="#pricing"> <button class="btn start-training-btn">Join Now</button></a>
	</div>
</section>
<!--Offer End-->

<!--Team Section Start-->
<section class="our-team" id="our_team">
	<!--Team Header Start-->
	<header class="section-header">
		<h3>Our Trainers</h3>
		<h1>Meet Our Experienced Trainers</h1>
		<p>Here are our qualified and experienced trainers who will help you in your fitness journey:</p>
	</header>
	<!--Team Header End-->
	<!-- Team Contents Start-->
	<div class="team-contents">
		
		<!-- <div class="trainer-card" onclick="window.location.href='fulltrainer.ejs?id=1'">
			<div class="trainer-image">
				<img src="images/trainers/pimg.jpeg">
			</div>
			<div class="trainer-desc">
				<h2>Rahul Kumar</h2>
				<p>Muscles Trainer</p>
			</div>
			<div class="trainer-contact">
				<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="#"><i class="fa-brands fa-twitter"></i></a>
				<a href="https://www.youtube.com/watch?v=TBIjgBVFjVI"><i class="fa-brands fa-instagram"></i></a>
			</div>
		</div>

		<div class="trainer-card" onclick="window.location.href='fulltrainer.ejs?id=2'">
			<div class="trainer-image">
				<img src="images/trainers/pimg.jpeg">
			</div>
			<div class="trainer-desc">
				<h2>Priyanshu Parashar</h2>
				<p>Boxing Trainer</p>
			</div>
			<div class="trainer-contact">
				<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="#"><i class="fa-brands fa-twitter"></i></a>
				<a href="#"><i class="fa-brands fa-instagram"></i></a>
			</div>
		</div>

		<div class="trainer-card" onclick="window.location.href='fulltrainer.ejs?id=3'">
			<div class="trainer-image">
				<img src="images/trainers/pimg.jpeg">
			</div>
			<div class="trainer-desc">
				<h2>Sai Sharath</h2>
				<p>Fitness Trainer</p>
			</div>
			<div class="trainer-contact">
				<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="#"><i class="fa-brands fa-youtube"></i></a>
				<a href="#"><i class="fa-brands fa-instagram"></i></a>
			</div>
		</div> -->

	</div>
	<!--Team Contents Ends-->
</section>
<!--Team Section End -->

<!--Pricing Start-->
<section class="pricing" id="pricing">

	<!--Pricing Header Start-->
	<header class="section-header">
		<h3>Pricing</h3>
		<h1>Join Suitable Plan</h1>
		<p>Choose your plan according to you needs.</p>
	</header>
	<!--Pricing Header End-->
	<!-- Pricing Content Start-->
	<div class="pricing-contents">
		
		<!--Pricing Card 1 Start-->
		<div class="pricing-card">
			<div class="pricing-card-header">
				<span class="pricing-card-title">Silver</span>
				<div class="price-circle">
					<span class="price"><i>₹</i>899</span>
					<span class="desc">/ Month</span>
				</div>
			</div>

			<div class="pricing-card-body">
				<ul>
					<li><i class="fa-solid fa-check"></i>15 body Building</li>
					<li><i class="fa-solid fa-check"></i>10 Boxing Classes</li>
					<li><i class="fa-solid fa-check"></i>5 Massage</li>
					<li><i class="fa-solid fa-check"></i>12 Swimming Sessions</li>
				</ul>
					<a href="/join"> <button class="btn price-plan-btn">Select Plan</button> </a>
			</div>
		</div>
		<!--Pricing Card 1 End-->

		<!--Pricing Card 2 Start-->
		<div class="pricing-card">
			<div class="pricing-card-header">
				<div class="tag-box">
					<span class="tag">Recommend</span>
				</div>
				<span class="pricing-card-title">Gold</span>
				<div class="price-circle">
					<span class="price"><i>₹</i>1499</span>
					<span class="desc">/ Month</span>
				</div>
			</div>

			<div class="pricing-card-body">
				<ul>
					<li><i class="fa-solid fa-check"></i>15 body Building</li>
					<li><i class="fa-solid fa-check"></i>10 Boxing Classes</li>
					<li><i class="fa-solid fa-check"></i>5 Massage</li>
					<li><i class="fa-solid fa-check"></i>12 Swimming Sessions</li>
				</ul>
				<a href="/join"> <button class="btn price-plan-btn">Select Plan</button> </a>
			</div>
		</div>
		<!--Pricing Card 2 End-->

		<!--Pricing Card 3 Start-->
		<div class="pricing-card">
			<div class="pricing-card-header">
				<span class="pricing-card-title">Platinum</span>
				<div class="price-circle">
					<span class="price"><i>₹</i>2499</span>
					<span class="desc">/ Month</span>
				</div>
			</div>

			<div class="pricing-card-body">
				<ul>
					<li><i class="fa-solid fa-check"></i>15 body Building</li>
					<li><i class="fa-solid fa-check"></i>10 Boxing Classes</li>
					<li><i class="fa-solid fa-check"></i>5 Massage</li>
					<li><i class="fa-solid fa-check"></i>12 Swimming Sessions</li>
				</ul>
				<a href="/join"> <button class="btn price-plan-btn">Select Plan</button> </a>
			</div>
		</div>
		<!--Pricing Card 3 End-->

	</div>
	<!--Pricing Content End-->
</section>
<!-- Pricing Ends-->

<!-- Blog Section Start-->
<section class="blog" id="blog">
	<!--Blog Header Start-->
	<header class="section-header">
		<h3>Our Blog</h3>
		<h1>Latest From Our Blog</h1>
		<p></p>
	</header>
	<!-- Blog Header End-->

	<!-- Blog Contents Start-->
	<div class="blog-contents">
		
		<!-- <a href="fullblog.ejs" class="article-card" data-id="1" onclick="setBlogId(event)">
			<img src="images/posts/dumbbel.jpg">
			<div class="category">
				<div class="subject"><h3>Fight</h3></div>
				<span>21/06/2023</span>
			</div>
			<h2 class="article-title">Strong Muscle: Lorem ipsum dolor sit amet, consectetur.</h2>
			<p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
			<div class="article-views">
				<span>2.5k <i class="fa-solid fa-eye"></i></span>
				<span>352 <i class="fa-solid fa-comment"></i></span>
			</div>
		</a>

		<a href="fullblog.ejs" class="article-card" data-id="2" onclick="setBlogId(event)">
			<img src="images/posts/tmill.jpg">
			<div class="category">
				<div class="subject"><h3>Endurance</h3></div>
				<span>21/06/2023</span>
			</div>
			<h2 class="article-title">Strong Muscle: Lorem ipsum dolor sit amet, consectetur.</h2>
			<p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
			<div class="article-views">
				<span>2.5k <i class="fa-solid fa-eye"></i></span>
				<span>352 <i class="fa-solid fa-comment"></i></span>
			</div>
		</a>

		<a href="fullblog.ejs" class="article-card" data-id="3" onclick="setBlogId(event)">
			<img src="images/posts/muscle.jpg">
			<div class="category">
				<div class="subject"><h3>Muscles</h3></div>
				<span>21/06/2023</span>
			</div>
			<h2 class="article-title">Strong Muscle: Lorem ipsum dolor sit amet, consectetur.</h2>
			<p class="article-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
			<div class="article-views">
				<span>2.5k <i class="fa-solid fa-eye"></i></span>
				<span>352 <i class="fa-solid fa-comment"></i></span>
			</div>
		</a> -->

	</div>
	<!-- Blog Contents End-->
	<!-- <div class="view-more-btn-container">
		<button class="btn articles-view-btn">View More</button>
	</div> -->
</section>
<!--Blog Section End -->

<!--Footer Section Start-->
<section class="page-footer">
	
	<!--Footer Contents Start -->
	<div class="footer-contents">
		
		<div class="footer-col footer-col-1">
			<div class="footer-col-title">
				<h3>About</h3>
			</div>
			<div class="footer-col-desc">
				<p>Start your Fitness journey today.</p>
				<p>Need any help, we are here for you :)</p>
				<span>BMU, Haryana, India</span>
				<span>+91 8630029293</span>
				<span>stayfitorg@hotmail.com</span>
				<div class="footer-social-media">
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-twitter"></i></a>
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-instagram"></i></a>
					<a href="https://www.instagram.com/panghal_prashant/"><i class="fa-brands fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>

		<div class="footer-col footer-col-2">
			<div class="footer-col-title">
				<h3>Quick Links</h3>
			</div>
			<div class="footer-col-desc">
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Services</a>
				<a href="#">Trainers</a>
				<a href="#">Pricing</a>
				<a href="#">Blog</a>
			</div>
		</div>

		<div class="footer-col footer-col-3">
			<div class="footer-col-title">
				<h3>Newsletter</h3>
			</div>
			<div class="footer-col-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<form class="newsletter">
					<input type="email" placeholder="Your Email">
					<button class="btn newsletter-btn" type="submit">Subscribe</button>
				</form>
			</div>
		</div>

	</div>
	<!--Footer Contents End-->

</section>
<!-- Footer Section End-->



</div>
<!--Website Wrapper End -->





<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="blogscript.js"></script>
</body>
</html>